*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#050510 ;
}
.wrapper{
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.container{
    width: 100%;
    padding: 50px 30px;
    background-color: rgba(255, 255, 255, 0.06);
    border:2px solid rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0, 0, 0.2);
    backdrop-filter: blur(10px);
}
.circle1{
    height: 220px;
    width: 220px;
    background: linear-gradient(#31e7ff,#2bfafa);
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    left: -80px;
    z-index: -1;
}
.circle2{
    height: 180px;
    width: 180px;
    background: linear-gradient(#f7fff6,#8b928b);
    border-radius: 50%;
    position: absolute;
    top: -100px;
    right: -50px;
    z-index: -1;
}
.container *{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight:500 ;
}
h2{
    margin-bottom: 40px;
    letter-spacing: 2px;

}
.skill:not(:last-child){
    margin-bottom: 30px;
}
.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;
    background-color: rgba(255, 255, 255, 0.06);
    border: rgba(255, 255, 255, 0.06);
    padding: 7px 10px;
    backdrop-filter: blur(10px);
}
.bar div{
    position: relative;
    width: 0;
    height: 5px;
    border-radius: 10px;
    background-color:#51ff00;
    border: 1px solid #01a817;
    box-shadow: 0 0 5px rgba(7, 146, 2, 0.6);
}
#htmlbar{
    animation: hfill 3s forwards;
}
@keyframes hfill{
    100%{
        width: 95%;
    }
}
#cssbar{
    animation: cfill 3s forwards;
}
@keyframes cfill{
    100%{
        width: 77%;
    }
}#javabar{
    animation: jfill 3s forwards;
}
@keyframes jfill{
    100%{
        width: 85%;
    }
}#phpbar{
    animation: pfill 3s forwards;
}
@keyframes pfill{
    100%{
        width: 68%;
    }
}
